In [4]:
import pandas as pd
import numpy as np

ghg = pd.read_csv('./input/emissioni_gas_serra.tsv', sep='\t')

countries = ghg.iloc[:,0].values

ghg_19 = ghg.iloc[:,-1].values

ghg_19_parsed = []

for i in range(len(ghg_19)):
    k = ghg_19[i].split(' ')
    ghg_19_parsed.append(k[0])


ghg_19 = np.array(ghg_19_parsed)

ghg_19 = ghg_19.astype(float)

ghg_latest = pd.DataFrame({"country": countries,
                           "ghg_percapita": ghg_19})

ghg_latest.drop(11, inplace=True)
ghg_latest.drop(12, inplace=True)

ghg_latest = ghg_latest.sort_values(by="ghg_percapita")



co2 = pd.read_csv('./input/co2-emission.tsv', sep='\t')

countries = co2.iloc[:,0].values

co2_19 = co2.iloc[:,-1].values

co2_19_parsed = []

for i in range(len(co2_19)):
    k = co2_19[i].split(' ')
    co2_19_parsed.append(k[0])
    

co2_19 = np.array(co2_19_parsed)

co2_latest = pd.DataFrame({"country": countries,
                           "avg_co2": co2_19})

co2_latest.drop(10, inplace=True)
co2_latest.drop(11, inplace=True)
co2_latest.drop(12, inplace=True)


#co2_19 = co2_19.astype(float)
#co2_19

co2_latest = co2_latest.sort_values(by="avg_co2")


co2_latest['avg_co2'] = co2_latest.avg_co2.astype(float)
co2_latest = co2_latest.sort_values(by="avg_co2")


rec = pd.read_csv('./input/recycling.tsv', sep='\t')

countries = rec.iloc[:,0].values

countries_parsed = []

for i in range(len(countries)):
    k = countries[i].split(',')
    countries_parsed.append(k[3])

countries = np.array(countries_parsed)

rec_19 = rec.iloc[:,-1].values

rec_19_parsed = []

for i in range(len(rec_19)):
    k = rec_19[i].split(' ')
    rec_19_parsed.append(k[0])

rec_19 = np.array(rec_19_parsed)

rec_latest = pd.DataFrame({"country": countries,
                           "share_recycling": rec_19})

rec_latest.drop(1, inplace=True)
rec_latest.drop(3, inplace=True)
rec_latest.drop(12, inplace=True)
rec_latest.drop(13, inplace=True)
rec_latest.drop(18, inplace=True)
rec_latest.drop(19, inplace=True)
rec_latest.drop(24, inplace=True)
rec_latest.drop(25, inplace=True)
rec_latest.drop(32, inplace=True)
rec_latest.drop(37, inplace=True)

#rec_19 = rec_19.astype(float)

rec_latest = rec_latest.sort_values(by="share_recycling")

rec_latest['share_recycling'] = rec_latest.share_recycling.astype(float)
rec_latest = rec_latest.sort_values(by="share_recycling")

In [5]:
rec_latest.head(), co2_latest.head(), ghg_latest.head()

(   country  share_recycling
 26      MT              8.9
 36      TR             11.5
 31      RO             11.5
 5       CY             15.0
 10      EL             21.0,
    country  avg_co2
 25      NO     59.9
 24      NL     98.4
 23      MT    105.3
 27      PT    109.4
 6       DK    111.9,
    country  ghg_percapita
 29      SE            5.2
 23      MT            5.3
 28      RO            5.9
 15      HR            6.0
 22      LV            6.1)

In [6]:
environment = pd.merge(rec_latest, ghg_latest, on='country')
environment = pd.merge(environment, co2_latest, on='country')

environment

   country  share_recycling  ghg_percapita  avg_co2
0       MT              8.9            5.3    105.3
1       RO             11.5            5.9    124.3
2       CY             15.0           11.2    126.8
3       EL             21.0            8.4    115.6
4       PT             28.9            6.6    109.4
5       HR             30.2            6.0    119.4
6       EE             30.8           11.2    130.1
7       CZ             33.3           11.7    128.7
8       PL             34.1           10.4    132.0
9       ES             34.7            7.1    121.3
10      HU             35.9            6.7    131.8
11      SK             38.5            7.4    133.4
12      NO             40.9            9.7     59.9
13      LV             41.0            6.1    127.9
14      FI             43.5           10.1    115.3
15      FR             46.3            6.8    113.7
16      SE             46.6            5.2    119.7
17      LU             48.9           20.3    133.0
18      LT             49.7            7.4    132.0
19      IT             51.4            7.2    119.4
20      DK             51.5            8.1    111.9
21      BE             54.7           10.6    121.5
22      NL             56.9           11.1     98.4
23      AT             58.2            9.3    125.5
24      SI             59.2            8.2    123.7
25      DE             66.7           10.1    131.2

In [9]:
environment.to_csv('./output/environment.csv', index=False)